<ion-view title="Übersicht" id="page1" style="background-color:#49E48B;">
    <ion-content padding="true" class="has-header">
        <form id="Bersicht-form6" class="list">
            <label class="item item-input" id="Bersicht-input8">
                <span class="input-label">Monat</span>
                <input type="month" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 52px;"></div>
        <ion-list id="Bersicht-list5">
            <ion-item id="Bersicht-list-item15">Item 1</ion-item>
            <ion-item id="Bersicht-list-item16">Item 2</ion-item>
            <ion-item id="Bersicht-list-item17">Item 3</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <div id="Bersicht-markdown4" style="color:#000000;">
            <p>Sie haben in diesem Monat
                <strong>[STD]</strong>gearbeitet.</p>
        </div>
    </ion-content>
</ion-view>