<ion-view title="Eintragung" id="page3" style="background-color:#49E48B;">
    <ion-content padding="true" class="has-header">
        <form id="eintragung-form5" class="list">
            <label class="item item-input" id="eintragung-input6">
                <span class="input-label">Datum</span>
                <input id="date" type="date" placeholder="01.01.2011" >
            </label>
            <label class="item item-input" id="eintragung-input7">
                <span class="input-label">Arbeitszeit</span>
                <input type="number" placeholder="" id="time">
            </label>
        </form>
        <button id="eintragung-button3" class="button button-positive  button-block" onclick="setItem()">Eintragen</button>
    </ion-content>
</ion-view>
