<ion-view title="Signup" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="signup-form7" class="list">
            <ion-list id="signup-list10">
                <label class="item item-input" id="signup-input9">
                    <span class="input-label">Vorname</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input10">
                    <span class="input-label">Nachname</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input11">
                    <span class="input-label">E-Mail</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input12">
                    <span class="input-label">Passwort</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="menu.wilkommen" id="signup-button6" class="button button-stable  button-block">Registrieren</a>
        </form>
    </ion-content>
</ion-view>