<ion-view title="Willkommen" id="page8" style="background-color:#49E48B;">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.Bersicht" id="willkommen-button7" class="button button-positive  button-block">Übersicht</a>
        <a ui-sref="menu.bearbeiten" id="willkommen-button8" class="button button-positive  button-block">Bearbeiten</a>
        <a ui-sref="menu.eintragung" id="willkommen-button9" class="button button-positive  button-block">Eintragung</a>
    </ion-content>
</ion-view>
